body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #282c34;
    color: #61dafb;
}

.container {
    text-align: center;
}

#countdown {
    font-size: 2em;
    margin-top: 20px;
}

#countdown span {
    display: inline-block;
    min-width: 90px;
}
